@import "tailwindcss";
*{
  color: #fff;
}
body{
  background-color: black;
}
#tasklist::-webkit-scrollbar{
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}